.app.dark {
    --bg-color: #121212;
    --bg-secondary: #1A1818;

    --color-secondary: #DEDEDE;
    --accent: #AB8956;
    --color-secondary-p:#1A1818;
    
    --color-secondary-b: #575757;
    --color--pag:#121212;
}