.app.ligth {
    --bg-color: #ffffff;
    --bg-secondary: #FFFFFF;
    --color-secondary: #575757;  
    --color-primary-lightgray: #DEDEDE;
    --accent: #9B4B4B;
    --color-secondary-p:#DEDEDE;
    --color-secondary-b: #9C9C9C;
    --color--pag:#ffffff;
}