:root {
  /* --primary-white-w: #ffffff;
  --primary-b: #121212;

  --primary-lightgray-g: #DEDEDE;
  --primary-darkgray-d: #575757;

  --secondary-white-w: #FCFCFC;
  --secondary-black-b: #1A1818;
  --secondary-gray-g: #9C9C9C;

  --accent-red-r: #9B4B4B;
  --accent-gold-g: #AB8956 */


}